<h1 class="page-header">How To Rig Student Council Votes</h1>

<div class="text-center">
  <div class="btn-group" role="navigation">
    {{#link-to 'rig' tagName='button' class='btn btn-default'}}Submit Votes{{/link-to}}
    {{#link-to 'about' tagName='button' class='btn btn-default'}}About{{/link-to}}
  </div>
</div>

{{outlet}}

<center><small>This website is for educational purposes only.</small></center>
